header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}
header .header__left {
  max-width: 62rem;
  flex: 1;
}
header .header__left p {
  max-width: 50rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

header .header__right {
  position: relative;
  line-height: 0;
}
header .header__right .header__image {
  position: relative;
  line-height: 0;
}
header .header__right .header__image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1.5rem;
  right: -1, 5rem;
  border-radius: 0.5rem;
  z-index: -1;
}
.Logo {
  height: 450px;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: bottom;
}
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }
  .Logo {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
  }
}
